<ion-header>
    <ion-toolbar>
        <ion-title>Items</ion-title>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Chatbericht</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label position="floating">Voeg een persoonlijk item toe</ion-label>
            <ion-input name="nieuwItem" #new placeholder="..."></ion-input>
            <ion-fab-button (click)="voegToe(new.value)">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-segment (ionChange)="segmentChanged($event)">
                <ion-segment-button value="all">
                    <ion-label>Mijn items</ion-label>
                </ion-segment-button>
                <ion-segment-button value="mine">
                    <ion-label>Alle items</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-card-header>
        <ion-card-content *ngIf="titel!=''">
            <ion-list *ngIf="items.length!=0">
                <ion-item *ngFor="let item of items">
                    <ion-label>{{item.userName + ": " + item.tekst}}</ion-label>
                    <ion-button [disabled]="item.gebruiker != localId" (click)="editItem(item)" color="warning">Update</ion-button>
                    <ion-button [disabled]="item.gebruiker != localId" (click)="verwijderItem(item.id)" color="danger">Verwijder</ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>