<ul *ngIf="filmdetail" class="col list-group">
    <li class="list-group-item d-flex justify-content-between">
        <h3>{{filmdetail.Title}}</h3>
        <div>
            <button class="btn btn-danger" (click)="setFavo(filmdetail)"><i [class.far]="!filmdetail.Fav" [class.fas]="filmdetail.Fav" class="fa-heart"></i></button>
        </div>
    </li>
    <li class="list-group-item">{{filmdetail.Year}}</li>
    <li class="list-group-item">{{filmdetail.Plot}}</li>
    <li class="list-group-item">
        <img [src]="CheckPoster(filmdetail)" class="img-fluid w-100">
    </li>
</ul>