<hr />
<h3>Medewerker ingave tonen</h3>
<form name="frm">
    <div class="form-group">
        <label for="medewerker">Medewerker</label>
        <input type="text" class="form-control" name="naam" id="medewerker" [(ngModel)]="naam" />
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" />
    </div>
    <div class="form-group">
        <label for="afbeelding">Afbeelding</label>
        <input type="text" class="form-control" name="afbeelding" id="afbeelding" [(ngModel)]="afbeelding" />
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary mr-2" [disabled]="disabledNietIngevuld()" (click)="toonGegevens()">
      {{ buttonTekst }}
    </button>
        <button type="button" class="btn btn-primary" [disabled]="disabledNietIngevuld()" (click)="resetGegevens()">
      Reset
    </button>
    </div>
</form>

<!-- deel 1 van de oefening / met display-none -->

<div class="card my-5" [class.d-none]="verbergInfo" style="width: 100%">
    <img [src]="afbeelding" class="card-img-top" style="width: 20%" alt="..." />
    <div class="card-body">
        <h5 class="card-title">{{ naam }}</h5>
        <p class="card-text">Het emailadres van {{ naam }} is {{ email }}</p>
    </div>
</div>
