<div *ngIf="klant" class="card">
    <div class="card-header d-flex justify-content-between">
        <span> {{klant.naam | uppercase}} {{klant.voornaam | uppercase}}</span>
        <button class="btn btn-danger" (click)="verwijderKlant(klant.id)">Verwijder</button>
    </div>
    <div class="card-body">
        {{klant.straat}} <br> {{klant.postcode}} {{klant.plaats}} <br> Interne id: {{klant.id}}
    </div>
</div>
<button class="btn btn-primary mt-3" (click)="gaNaarKlanten()">Terug naar klanten</button>
<button class="btn btn-secondary mt-3" (click)="terugNaarSearchResults()">Terug naar klanten</button>